<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QA Huggy with CamemBERT</title>
       <link href="/static/header.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="div-header">
    </div>
    <div class="logo">
        <div>
            <a href="/"><img alt="" src="/static/logo.png"/></a>
        </div>
    </div>
    <div align="center" class="block-search">
      <form method="POST">
        <input type="search" id="search" name="question" placeholder="Posez votre question" class="search" value="">
        <!-- 
        <input type="text" id="question" name="question" required oninput="this.style.width=((this.value.length+1) * 7) +'px';">
        -->
      </form>
      <br>
      {% if question |length %}
      <p><b>Question posée : {{ question | safe}}</b></p>
      {% endif %}
    </div>
    <div class="container">
      <p><br>{{ hat | safe}}</p>
      <section id="blog-landing" style="height: 4520px;">
        {%for i in result%}
            <article class="white-panel">
              {{i | replace_regexp('<p>&nbsp;</p>', '') | safe }}
            </article>
        {%endfor%}
      </section>
    </div>
  </body>
</html>
